{% include 'header.html' %}
    <h1>Profile Management</h1>
    <br><br>
    <form action="{{ url_for('search_profile.search_profile') }}" method="GET">
        <a class='create-button profile-button' onclick="window.location.href='{{ url_for('create_profile.create_profile') }}'">
            Create Profile
        </a>
        <span style="float: right;">
            <input type="text" id="query" name="query" placeholder="Search Profile" value="{{ request.args.get('query', '') }}">
            <input type="submit" value="Search">
            <a href="{{ url_for('view_profile.view_profile') }}">Clear</a>
        </span>
    </form>
    <br><br>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div id="flash-messages">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <table class="profile_table">
        <tr>
            <th>Role</th>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th>
            <th>Suspend</th>
        </tr>

        {% if profiles %}
            {% for profile in profiles %}
                <tr>
                    <td>{{ profile.role }}</td>
                    <td>{{ profile.description }}</td>

                    {% if profile.is_suspended %}
                        <td style="color: red;">Suspended</td>
                    {% else %}
                        <td style="color: green;">Active</td>
                    {% endif %}

                    <td>
                        <button onclick="window.location.href='{{ url_for('update_profile.update_profile', id=profile.id) }}'">Update</button>
                    </td>

                    {% if profile.is_suspended %}
                        <td>
                            Suspended
                        </td>
                    {% else %}
                        <td>
                            <form action="{{ url_for('suspend_profile.suspend_profile', id=profile.id) }}" method="POST" style="display:inline;">
                                <button type="submit">Suspend</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

        {% else %}
            <tr>
                <td colspan="100%">No profiles found matching your search.</td>
            </tr>
        {% endif %}
    </table>
{% include 'footer.html' %}
