{% include 'header.html' %}

    <h1>Profile Management</h1>
    <br><br>
    <form action="{{ url_for('account.search_account') }}" method="GET">
        <a class='create-button account-button' onclick="window.location.href='{{ url_for('account.create_account') }}'">
            Create Account
        </a>
        <span style="float: right;">
            <input type="text" name="query" placeholder="Search Account" value="{{ request.args.get('query', '') }}">
            <input type="submit" value="Search">
            <a href="{{ url_for('account.view_account') }}">Clear</a>
        </span>
    </form>
    <br><br>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div id="flash-messages">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <table class="account_table">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
            <th>Suspend</th>
        </tr>

        {% if account %}
            {% for account in account %}
                <tr>
                    <td>{{ account.username }}</td>
                    <td>{{ account.email }}</td>
                    <td>{{ account.phone_number }}</td>
                    <td>{{ account.role.role }}</td>
                    {% if account.is_suspended %}
                        <td style="color: red;">Suspended</td>
                    {% else %}
                        <td style="color: green;">Active</td>
                    {% endif %}
                    <td>
                        <button onclick="window.location.href='{{ url_for('account.update_account', id=account.id) }}'">Update</button>
                    </td>
                    {% if account.is_suspended %}
                        <td>
                            Suspended
                        </td>
                    {% else %}
                        <td>
                            <form action="{{ url_for('account.suspend_account', id=account.id) }}" method="POST" style="display:inline;">
                                <button type="submit">Suspend</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

        {% else %}
            <tr>
                <td colspan="100%">No accounts found matching your search.</td>
            </tr>
        {% endif %}
    </table>

{% include 'footer.html' %}
