{% include 'header.html' %}

    <h1>Profile Management</h1>
    <h2>Create New Account</h2>
    <button onclick="window.location.href='{{ url_for('create_account.create_account') }}'">Create Account</button>
    <hr>    
    <h2>Existing Accounts</h2>
        <form action="{{ url_for('search_account.search_account') }}" method="GET">
        <label for="query">Search Account:</label>
        <input type="text" name="query" placeholder="Search Account" value="{{ request.args.get('query', '') }}">
        <input type="submit" value="Search">
        <a href="{{ url_for('view_account.view_account') }}">Clear</a>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div id="flash-messages">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <table class="account_table">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
            <th>Suspend</th>
        </tr>

        {% if account %}
            {% for account in account %}
                <tr>
                    <td>{{ account.username }}</td>
                    <td>{{ account.email }}</td>
                    <td>{{ account.phone_number }}</td>
                    <td>{{ account.role.role }}</td>
                    {% if account.is_suspended %}
                        <td style="color: red;">Suspended</td>
                    {% else %}
                        <td style="color: green;">Active</td>
                    {% endif %}
                    <td>
                        <button onclick="window.location.href='{{ url_for('update_account.update_account', id=account.id) }}'">Update</button>
                    </td>
                    {% if account.is_suspended %}
                        <td>
                            Suspended
                        </td>
                    {% else %}
                        <td>
                            <form action="{{ url_for('suspend_account.suspend_account', id=account.id) }}" method="POST" style="display:inline;">
                                <button type="submit">Suspend</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

        {% else %}
            <tr>
                <td colspan="100%">No accounts found matching your search.</td>
            </tr>
        {% endif %}
    </table>

{% include 'footer.html' %}
