{% include 'header.html' %}
    <br><br>
    <a href="{{ url_for('account.update_account', id=account.id) }}">Back to Profile</a>
    <br><br>
    <h1>Change Password </h1>
    <h4>for {{ account.username }}</h4>
    <br><br>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div id="flash-messages">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% if category == 'success' %}
                <span id="redirect_message">
                    Redirecting in <span id="countdown_timer">3</span> seconds...
                </span>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form method="POST">
        <label for="new_password">New Password:</label><br>
        <input type="password" id="new_password" name="new_password" required><br><br>

        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>

        <button type="submit">Submit</button>
    </form>
{% include 'footer.html' %}

<script>
    const redirectPageURL = "{{ url_for('account.update_account', id=account.id) }}";
</script>
<script src="{{ url_for('static', filename='js/countdown_timer.js') }}"></script>