/*Body*/
body{
    min-height: 100vh;
}

section.container{
    min-height: 90vh;
}

/*Navigation bar styling*/
div.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
}

div.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}
div.navbar a.profile-icon{
    color: white;
    text-decoration: none;
}

div.navbar a:hover {
    background-color: #575757;
}

div.dropdown {
    position: relative;
    display: inline-block;
}

div.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

div.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

div.dropdown-content a.profile-icon:hover {
    background-color: #575757;
    color: white;
}

div.dropdown:hover .dropdown-content {
    display: block;
}

div.dropdown-content .profile-icon {
    font-size: 20px;
    margin-right: 5px;
}


/*Footer styling*/
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.footer p {
    margin: 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}


/*Alert styling*/
.alert-success{
    color : green;
}

.alert-danger, .alert-warning{
    color : red;
}

.alert-info{
    color : blue;
    width: 100%;
}

/*table css*/
table{
    width : 100%;
    border-collapse: collapse;
    border: 1px solid;
}

tr th{
    border: 1px solid;
    background-color: #7AB2D3;
    text-align: center;
}


tr:hover {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #DFF2EB;
}

tr:nth-child(odd) {
    background-color: #7DFF2EB;
}

.profile_table td:nth-child(n+3){
    text-align: center;
}

.account_table td:nth-child(n+4){
    text-align: center;
}

.my_car_table td:nth-child(n+3){
    text-align: center;
}

/*Login Page*/
form.login-form{
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 30px;
    min-height: 50vh;
    box-shadow: 5px 10px #888888;
    margin-top: 10%;
}

.login-form h1{
    text-align: center;
}

.login-form label{
    font-weight: bold;
}

.clickable-row{
    cursor: pointer;
    transition: transform .2s;
}

.clickable-row:hover{
    background: #EEF5FF;
    transform: scale(1.01);
}

/*Favorite*/
.heart{
    font-size: 30px;
    cursor: pointer;
}
.heart2{
    font-size: 40px;
    cursor: pointer;
}

.favorite_button{
    width: 100%;
    outline: none;
    border: none;
    background: none;
}

/*Listing*/
.back-button{
    cursor:pointer;
    color: #007bff;
}

.back-button:hover{
    text-decoration: underline;
    color: #0056b3;
}

.agent-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 10px;
    background-color: #f9f9f9;
    width: fit-content;
    font-size: 14px;
}

.review_table tr:nth-child(n+1) td:nth-child(1){
    text-align:center;
}

.listing-details{
    min-height: 60vh;
}

.create-button{
    clear:both;
    cursor: pointer;
    padding: 5px;
    display: inline-block;
    width: 10%;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    transition: transform .2s;
}

.create-button:hover{
    background-color: #DFF2EB;
    transform: scale(1.05)
}