{% include 'header.html' %}
    <br><br>
    <span class='back-button'>
        <a onclick="history.back()">Back</a>
    </span>

    <br><br>
    <h1>Write a Review</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div id="flash-messages">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('review.submit_review') }}" method="POST">
        <label>Agent Name:</label>
        <input type="text" value="{{ agent.username }}" readonly><br>

        <input type="hidden" name="agent_id" id="agent_id" value="{{ agent.id }}"><br>

        <label>Rating:</label><br>
        <div>
            {% for i in range(1, 6) %}
                <input type="radio" id="rating{{ i }}" name="rating" value="{{ i }}" required>
                <label for="rating{{ i }}">{{ i }}</label>
            {% endfor %}
        </div><br>

        <label for="comment">Comment:</label><br>
        <textarea name="comment" id="comment" required></textarea><br><br>

        <button type="submit">Submit</button>
    </form>
{% include 'footer.html' %}