</section>
<div class="footer">
    <p>&copy; 2024 Used Car Marketplace. All rights reserved.</p>
    <div class="footer-nav">
        <a href="/">Home</a> |
        <a href="#">Car Listings</a> |
        <a href="{{ url_for('loan_calculator.loan_calculator') }}">Loan Calculator</a> |
    </div>
</div>

<script>
  setTimeout(function() {
    var flashMessages = document.getElementById('flash-messages');
    if (flashMessages) {
      flashMessages.style.display = 'none';
    }
  }, 5000);  // Flash message disappears after 5 seconds
</script>

</body>
</html>
