<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--script-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <div>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('used_car.car_listing')}}">Car Listings</a>
            <a href="{{ url_for('loan_calculator.loan_calculator') }}">Loan Calculator</a>
        </div>
        {% if session.get('user_id') %}
            <div class="dropdown">
                <a class="profile-icon">{{ username }} <i class="fa fa-user-circle"></i></a>
                <div class="dropdown-content">
                    {% if session.get('role_id') == 1 %}
                        <a  style="display: block;" href="{{ url_for('view_profile.view_profile') }}">Manage Profiles</a>
                        <a href="{{ url_for('account.view_account') }}">Manage Users</a>
                    {% endif %}
                    {% if session.get('role_id') == 3 or session.get('role_id')==4 %}
                        <a href="{{ url_for('my_used_car_listing.car_listing')}}">My Cars</a>
                    {% endif %}
                    <a href="{{ url_for('favorites.view_favorites', user_id=session.get('user_id')) }}">Favorites</a>
                    {% if session.get('role_id') == 4 %}
                        <a href="{{ url_for('review.view_reviews', agent_id=session.get('user_id')) }}">My Reviews</a>
                        <a href="{{ url_for('used_car.add_car_listing')}}">Add Car Listing</a>
                    {% endif %}
                    <a href="{{ url_for('logout.logout') }}">Logout</a>
                </div>
            </div>
        {% else %}
            <a href="{{ url_for('login.login') }}" id="signin-btn">Sign In</a>
        {% endif %}
    </div>

    <section class="container">
